.main-container {
  /* background-image: linear-gradient(
    to bottom,
    #87b1d8,
    #7faad9,
    #78a3d9,
    #739cd9,
    #7094d9,
    #6d8ed7,
    #6a88d4,
    #6882d1,
    #637dcc,
    #5e78c7,
    #5874c3,
    #536fbe
  );
  background-repeat: no-repeat;
  background-attachment: fixed; */
  /* height: 100vh;
  width: 100vw; */
  /* background-color: rgb(218, 214, 209);
  min-height: 100vh; */
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.flex-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  min-height: 34px;
  text-align: right;
  max-height: 34px;
  background: white;
  border: 1px solid rgba(39, 38, 38, 0.521);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: "black";
  flex: 1;
  font-size: 14px;
  overflow: scroll;
  padding-left: 10px;
  padding-right: 10px;
}

.currency-input {
  min-height: 34px;
  max-height: 34px;
  border: 1px solid rgba(39, 38, 38, 0.521);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px 10px 5px 5px;
  min-width: 40px;
  max-width: 40px;
  font-size: 14px;
  border-left: 0;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.input:focus {
  /* background-color: rgb(166, 213, 214); */
  border: 3px solid rgb(77, 144, 254);
  -webkit-box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.11);
  box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.11);
}

.input-container {
  margin: 20px;
  padding: 0px 30px 50px 30px !important;
  border-radius: 10;
  border-width: 1;
  border-color: "grey";
  border-style: solid;
}

.output-container {
  margin: 10px;
  background-color: white;
  border-radius: 15px;
  border-width: 1px;
  border-color: "grey";
  border-style: solid;
  padding: 30px !important;
  height: fit-content;
}

.input-var-container {
  width: 80vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px !important;
  border-radius: 15px;
  border-width: 1px !important;
  border-color: #303033c2;
  border-style: solid;
  -webkit-box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.51);
  box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.51);
  margin-bottom: 40px;
}

.output {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-icon-container {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-icon-container-2 {
  /* //flex: 2; */
  display: flex;
  flex-direction: row;
  font-weight: bold;
  height: fit-content;
  min-height: 20px;
  font-size: 20 !important;
}

.info-icon {
  font-size: 10px;
}

.no-button-style {
  border: none;
  margin-left: 5px;
  max-width: fit-content;
  background-color: white;
}

.info-span {
  visibility: hidden;
  display: none;
  text-align: start;
  height: 0px;
  width: 0px;
  padding: 15px;
  z-index: 100;
}

div.no-button-style:hover .info-span {
  background-color: white;
  border: 2px solid #009282;
  text-align: start;
  color: black;
  height: fit-content;
  width: fit-content;
  max-width: 300px;
  padding: 15px;
  position: absolute;
  visibility: visible;
  display: block;
  font-weight: normal;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.21);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9499a7;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9499a7;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9499a7;
}

.input-div {
  width: 25vw;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
}

.output-div {
  width: 30vw;
  min-width: 250px;
  flex-grow: inherit;
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
  border-bottom: 1px solid grey;
}

.input-var-div {
  /* width: 2vw; */
  /* min-width: 450px; */
  justify-content: space-between;
  width: 30%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 5px 0px 5px;
  /* margin-bottom: -10px; */
}

.label-text {
  flex: 2;
  text-align: start;
  margin: 0 auto;
  height: fit-content;
  min-height: 10px;
  font-size: 10 !important;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-right: 1px solid rgba(255, 255, 255, 0.109);
}

.label-text-input {
  font-weight: bold;
  height: 20px;
  font-size: 10 !important;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.bold-with-icon {
  font-size: 10 !important;
  margin-right: 5 !important;
}

.font-weight-normal {
  font-weight: normal;
  text-align: start;
  height: fit-content;
}

.bold-text {
  font-weight: bold;
}

.calculate-button {
  /* background-color: rgb(192, 241, 247); */
  background-color: #009282;
  border: 0;
  /* margin: 00px 0px 0px 30px; */
  margin: 30px 5px 0px 5px;
  min-width: 250px;
  width: 30%;
  padding: 5px;
  font-weight: normal;
  border-radius: 15px;
  color: white;
  /* border: 1px solid white; */
  font-size: 16px;
  height: 34px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.21);
  align-self: flex-end;
}

.share-button {
  background-color: #009282;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px auto;
  min-width: 250px;
  padding: 5px;
  font-weight: normal;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  height: 34px;
  align-items: center;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.21);
}

.copy-button:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  color: #03c9b7 !important;
}

.share-button:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.calculate-button:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.sum-span {
  color: #009282;
  font-weight: bold;
  font-size: 20px !important;
}

.title {
  font-size: 16 !important;
}
.input-field-divs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.p-text {
  font-size: 15px;
  width: 80vw;
  text-align: justify;
  margin: 15px auto;
  line-height: 20px;
}

.input-selector {
  border-radius: 15px;
  padding-right: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 727px) {
  .input-field-divs {
    justify-content: center !important;
  }
  .calculate-button {
    align-self: center;
  }
  div.no-button-style:hover .info-span {
    right: 10vw;
    width: 80vw;
  }
}

@media only screen and (max-width: 1019px) {
  .output {
    justify-content: center;
  }

  .output-div {
    width: 70vw;
  }
}

.impressum {
  font-size: 10px;
  line-height: 10px;
}

a.impressum {
  color: #009282;
}

.arrow-button {
  border: 1px solid #009282;
  height: 40px;
  width: 40px;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 100px;
  -webkit-box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.21);
}
/* 
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f39c12;
}
h1 {
  margin: 0 0 0.25em;
} */
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background: white;
  background-image: none;
  border: 0;
  min-height: 34px;
  text-align: right;
  max-height: 34px;
  /* background: white;
  border: 1px solid rgba(39, 38, 38, 0.521);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: "black";
  flex: 1;
  font-size: 14px;
  overflow: scroll;
  padding-left: 10px; */
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  min-height: 34px;
  text-align: right;
  max-height: 34px;
  position: relative;
  display: flex;
  border: 1px solid rgba(39, 38, 38, 0.521);
  /* height: 3em; */

  /* line-height: 3; */
  background: white;
  overflow: hidden;
  border-radius: 15px;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: black;
  cursor: pointer;
  align-self: center;
  align-items: center;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 12px;
  background: white;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  border-left: 1px solid rgba(39, 38, 38, 0.521);
}
/* Transition */
.select:hover::after {
  color: #009282;
}
