.main-container {
  /* background-image: linear-gradient(
    to bottom,
    #87b1d8,
    #7faad9,
    #78a3d9,
    #739cd9,
    #7094d9,
    #6d8ed7,
    #6a88d4,
    #6882d1,
    #637dcc,
    #5e78c7,
    #5874c3,
    #536fbe
  );
  background-repeat: no-repeat;
  background-attachment: fixed; */
  /* height: 100vh;
  width: 100vw; */
  /* background-color: rgb(218, 214, 209);
  min-height: 100vh; */
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.flex-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  min-height: 34px;
  max-height: 34px;
  background: white;
  border: 1px solid rgba(39, 38, 38, 0.521);
  border-radius: 15px;
  color: "black";
  flex: 1;
  font-size: 12px;
  overflow: scroll;
  padding-left: 10px;
}

.input:focus {
  /* background-color: rgb(166, 213, 214); */
  border: 3px solid rgb(77, 144, 254);
  -webkit-box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.11);
  box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.11);
}

.input-container {
  margin: 20px;
  padding: 0px 30px 50px 30px !important;
  border-radius: 10;
  border-width: 1;
  border-color: "grey";
  border-style: solid;
}

.output-container {
  margin: 10px;
  background-color: white;
  border-radius: 15px;
  border-width: 1px;
  border-color: "grey";
  border-style: solid;
  padding: 30px !important;
  height: fit-content;
}

.input-var-container {
  width: 80vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px !important;
  border-radius: 15px;
  border-width: 1px !important;
  border-color: #303033c2;
  border-style: solid;
  -webkit-box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.51);
  box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.51);
  margin-bottom: 40px;
}

.output {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-icon-container {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-icon-container-2 {
  flex: 2;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  height: fit-content;
  min-height: 20px;
  font-size: 20 !important;
}

.info-icon {
  font-size: 10px;
}

.no-button-style {
  border: none;
  margin-left: 5px;
  max-width: fit-content;
  background-color: white;
}

.info-span {
  visibility: hidden;
  display: none;
  text-align: start;
  height: 0px;
  width: 0px;
  padding: 15px;
}

div.no-button-style:hover .info-span {
  background-color: white;
  border: 2px solid #009282;
  text-align: start;
  color: black;
  height: fit-content;
  width: fit-content;
  max-width: 300px;
  padding: 15px;
  position: absolute;
  visibility: visible;
  display: block;
  font-weight: normal;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.21);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9499a7;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9499a7;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9499a7;
}

.input-div {
  width: 25vw;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
}

.output-div {
  width: 30vw;
  min-width: 250px;
  flex-grow: inherit;
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
  border-bottom: 1px solid grey;
}

.input-var-div {
  /* width: 2vw; */
  /* min-width: 450px; */
  justify-content: space-between;
  width: 30%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 5px 0px 5px;
  /* margin-bottom: -10px; */
}

.label-text {
  flex: 2;
  text-align: start;
  margin: 0 auto;
  height: fit-content;
  min-height: 10px;
  overflow: scroll;
  font-size: 10 !important;
  display: flex;
  align-items: center;
  overflow: scroll;
  border-right: 1px solid rgba(255, 255, 255, 0.109);
}

.label-text-input {
  font-weight: bold;
  height: 20px;
  font-size: 10 !important;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.bold-with-icon {
  font-size: 10 !important;
  margin-right: 5 !important;
}

.font-weight-normal {
  font-weight: normal;
  text-align: start;
  height: fit-content;
}

.bold-text {
  font-weight: bold;
}

.calculate-button {
  /* background-color: rgb(192, 241, 247); */
  background-color: #009282;
  border-color: #009282;
  /* margin: 00px 0px 0px 30px; */
  margin: 30px 5px 0px 5px;
  min-width: 250px;
  width: 30%;
  padding: 5px;
  font-weight: normal;
  border-radius: 15px;
  color: white;
  /* border: 1px solid white; */
  font-size: 16px;
  height: 34px;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.21);
  align-self: flex-end;
}

.calculate-button:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: zoom-out;
}

.sum-span {
  color: #009282;
  font-weight: bold;
}

.title {
  font-size: 16 !important;
}
.input-field-divs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.p-text {
  font-size: 15px;
  width: 80vw;
  text-align: justify;
  margin: 15px auto;
  line-height: 20px;
}

@media only screen and (max-width: 600px) {
  .input {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 727px) {
  .input-field-divs {
    justify-content: center !important;
  }
  .calculate-button {
    align-self: center;
  }
}

@media only screen and (max-width: 1019px) {
  .output {
    justify-content: center;
  }

  .output-div {
    width: 70vw;
  }
}

.impressum {
  font-size: 10px;
  line-height: 10px;
}

a.impressum {
  color: #009282;
}

.arrow-button {
  border: 1px solid #009282;
  height: 40px;
  width: 40px;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 100px;
  -webkit-box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 3px 12px 8px rgba(0, 0, 0, 0.21);
}
